body {
  color:black;
    background:blue;
margin: 0px;
font-family: "New Amsterdam", sans-serif;
margin-bottom: 80px;
}

header {
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 33px;

}

.chamada {
    background: yellow;
    padding-bottom: 80 px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%px;
}

h1 {
font-size: 35px;
}

p {
    font-size: 15px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 185px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid black;
}

.categoria h2{
    color: black;
}